<%= render 'breadcrumbs' %>

<h1>All Clubs</h1>

<table>
  <thead>
    <tr>
      <th>Club</th>
    </tr>
  </thead>

  <tbody>
    <% @clubs.each do |club| %>
      <tr>
        <td>
          <a href="<%= club_path(club.id) %>">
            <i class="fa-solid fa-circle-arrow-right"></i>
          </a>
          <%= link_to club.name, club_path(club.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
