<h1><%= @club.name %></h1>

<table>

  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
    </tr>
  </thead>

  <tbody>

    <% Club.column_names.each do |key| %>
      <tr>
        <td><%= key %></td>
        <td><%= @club[key] %></td>
      </tr>
    <% end %>

  </tbody>

</table>
