<%= render 'breadcrumbs' %>

<h1><%= @club.name %></h1>

<table>

  <thead>
    <tr>
      <th>Key</th>
      <th colspan="3">Value</th>
      <th>Edit</th>
    </tr>
  </thead>

  <tbody>

    <% Club.column_names.each do |key| %>
      <tr>
        <td><%= key %></td>
        <td colspan="3">
          <%= @club[key] %>
        </td>
        <td>
          <% if @editable.include? key %>
            <a href="">
              <i class="fa-solid fa-pen-to-square"></i>
            </a>
          <% end %>
        </td>
      </tr>
    <% end %>

  </tbody>

</table>
