<h1><%= @club.name %></h1>

<table>

  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
      <th>Edit</th>
    </tr>
  </thead>

  <tbody>

    <% @keys.each do |key| %>
      <tr>
        <td><%= key %></td>
        <td><%= @club[key] %></td>
        <td>
          <i class="fa-solid fa-pen-to-square"></i>
        </td>
      </tr>
    <% end %>

  </tbody>

</table>
