<%= render 'breadcrumbs' %>

<h1><%= @club.name %></h1>

<table>

  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
    </tr>
  </thead>

  <tbody>

    <% Club.column_names.each do |key| %>
      <tr>
        <td><%= key %></td>
        <td>
          <%= @club[key] %>

          <% if [ "name", "abbreviation" ].include? key %>
            <a href="">
              <i class="fa-solid fa-pen-to-square"></i>
            </a>
          <% end %>

        </td>
      </tr>
    <% end %>

  </tbody>

</table>
