<h1>AFL Database</h1>
<p>For the 2021 AFL season</p>

<div class="nav-container">
  <%= link_to 'Clubs', clubs_path %>
  <%= link_to 'Players', players_path %>
  <%= link_to 'Fixtures', fixtures_path %>
</div>
