<h1>All Players</h1>

<%= render 'search_filters' %>

<table>
  <thead>
    <tr>
      <th>Player</th>
    </tr>
  </thead>

  <tbody>
    <% @players.take(50).each do |player| %>
      <tr>
        <td>
          <% name = "#{ player.first_name } #{ player.last_name }" %>
          <%= link_to name, player_path(player.id) %>
        </td>
        <td><%= player.club.abbreviation %></td>
      </tr>
    <% end %>
  </tbody>
</table>
