<h1><%= @player.first_name %> <%= @player.last_name %></h1>

<table>

  <thead>
    <tr>
      <th>Key</th>
      <th colspan="3">Value</th>
    </tr>
  </thead>

  <tbody>

    <% Player.column_names.each do |key| %>
      <tr>
        <td><%= key %></td>
        <td colspan="3">
          <%= @player[key] %>
        </td>
      </tr>
    <% end %>

  </tbody>

</table>
