// Place all the styles related to the Fixtures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.scoreboard {
  display: flex;
}

.team-container {
  flex-grow: 4.5;
}

.team-name {
  text-align: left;
}

.team-score {
  font-weight: bold;
}

.team-record {
  text-align: left;
}

.score-container {
}
