nav {
  background-color: #191C28;
  padding: 0.5rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  margin: 0 4rem;
}

.nav-container > a {
  border-radius: 0.2rem;
  color: #FFFFFF;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
}

.nav-container > a:hover, .nav-container > a:active {
  background-color: #07CDB8;
  color: #022047;
}
