// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.model-schema {
  font-family: 'Noto Sans Mono', monospace;
}

.score-elite {
  backgroundColor: #FFD700;
}

.score-high {
  backgroundColor: #DB5E5E;
}

.score-good {
  backgroundColor: #EC836B;
}

.score-average {
  backgroundColor: #9E83EE;
}

.score-low {
  backgroundColor: #9ECC9F;
}

.score-poor {
  backgroundColor: #99CDFE;
}

.value-elite {
  backgroundColor: #014AC2;
}

.value-high {
  backgroundColor: #09AD78;
}

.value-average {
  backgroundColor: #F9AD2C;
}

.value-low {
  backgroundColor: #F05A25;
}

.value-poor {
  backgroundColor: #CC3333;
}
