// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.model-schema {
  font-family: 'Noto Sans Mono', monospace;
}

[class^=score] {
  color: #191C28;
}

.score-elite {
  background-color: #FFD700;
}

.score-high {
  background-color: #DB5E5E;
}

.score-good {
  background-color: #EC836B;
}

.score-average {
  background-color: #9E83EE;
}

.score-low {
  background-color: #9ECC9F;
}

.score-poor {
  background-color: #99CDFE;
}

.value-elite {
  background-color: #014AC2;
}

.value-high {
  background-color: #09AD78;
}

.value-average {
  background-color: #F9AD2C;
}

.value-low {
  background-color: #F05A25;
}

.value-poor {
  background-color: #CC3333;
}
